
<nav>
    <h3>SOMEONE NEEDS MAC</h3>
    
    <ul>
        <li>HOME</li>
        <li>SEARCH</li>
        <li>PRICING</li>
        <li>CONTACT US</li>
    </ul>
</nav>

<header>
    <div class="header_title">
        <h1>맥<br>사야하는<br>사람</h1>
        <p>그런데 용산에 갈 시간이 없네요...</p>
        <a>같이 갈 파티원 구합니다</a>
    </div>
</header>